body {
    background: linear-gradient(to right, #623AA2, #f97794); 
    border: none;
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 16px; 
    margin: 4px 2px;
} 

.Upii-Market {
    font-size: 100px;
    margin-top: 100px;
    padding-top: 60px; 
    padding-bottom: 10px;
    font-family:'Trebuchet MS';
}

.slogan {
    font-size: 20px;
    font-family: Raleway, sans-serif;
}

.iconos {
    margin-top: 60px;
}

.opciones {
    padding: 0;
    position: flex;
    list-style-type: none;
    margin: 10px;
    color: white;
    width: 100%;    
}

.opciones_lista {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 100px;
    margin-right: 60px;
    margin-left: 60px;
}

.desc_icon {
    position: absolute;
    font-family: DM Sans, sans-serif;
    text-align: center;
    cursor: pointer;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    color: white;
}

.opciones_lista:hover .desc_icon {
    opacity: 1;
    visibility: visible;
}

.imagen {
    width: 100px;
    height: 100px;
    transition: 0.2s;
}

.imagen:hover {
    cursor: pointer;
    z-index: 1;
    width: 104px;
    height: 103px;
}

.opciones_landing {
    z-index: 2;
    margin-top: 50px;
}

.contenedor {
    padding: 10px;
}

.botones {
    text-align: center;
}

.btn {
    padding: 25px 50px;
    cursor: pointer;
    font-size: 15px;
    background: black;
    border-color: transparent;
    margin: 10px;
    color: white;
    font-family: Raleway, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 20px; /* Agregar esquinas curvadas */
}

.btn, .btn_is, .btn_reg {
    padding: 25px 50px;
    cursor: pointer;
    font-size: 15px;
    background: transparent; 
    border: 2px solid white; 
    margin: 10px;
    color: white; 
    font-family: Raleway, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    border-radius: 20px; 
    transition: transform 0.2s; 
}

.btn_is, .btn_reg {
    padding: 24px 49px;
    cursor: pointer;
    margin: 10px;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    transition: transform 0.2s; 
}

.btn_is:hover, .btn_reg:hover {
    transform: scale(1.1); 
}

.btn_is:hover ~ .btn_reg, .btn_reg:hover ~ .btn_is {
    transform: scale(1); 
}

@media (max-width: 1080px){
    .Upii-Market{
        h1{
            font-size: 60px;
        }
    }
    .slogan{
        font-size: 20px;
    }
    .iconos{
        .opciones{
            font-size: 40%;
        }
    }
}