body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}
main {
    background-color: #AFB0B5;
}
.submenus_header {
    background: black;
    text-align: center;
    color: white;
    width: 100%;
    font-family: Raleway, sans-serif;
}
.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor2{
    flex-direction: column;
}
.productos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.columna {
    flex: 1;
    padding-left: 1px;
    padding-top: 10px;
    padding-right: 1px;
    color: white;
    border: 1px transparent;
    width: 100%;
}
.buscador {
    background: black;
    position: relative;
    width: 100%;
}
.titulo_comidas {
    background: url("pizza2.jpg");
    text-align: center;
    width: 100%;
}
.titulo_material {
    background: url("Material24.jpg");
    text-align: center;
    width: 100%;
}
.titulo_snacks {
    background: url("galletas2.jpg");
    text-align: center;
    width: 100%;
}
.titulo_otros {
    background:gray ;
    text-align: center;
    width: 100%;
    background-size: 100% 100%;
}
.nombre_submenus {
    font-size: 100px;
    padding-top: 60px;
    padding-bottom: 0.5px;
    padding-left: 32px;
}
.producto{
    background: white;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-family: DM Sans, sans-serif;
    flex-direction: row-reverse;
}
.info{
    line-height: 20px;
    padding-right: 10px;
}
.imgn{
    height: 200px;
    width: 400px;
}
.imgn img{
    max-width: 70%;
    max-height: 100%;
}
.producto_titulo{
    font-weight: 700;
}
h3 {
    text-align: center;
    padding-left: 70px;
    margin-bottom: 35px;
}
.Upii-Market-otrosh-3 {
    font-weight: bold;
}
.buscador .busqueda {
    outline: none;
    box-sizing: border-box;
    height: 61px;
    width: 547px;
    padding: 0 30px;
    margin-top: 50px;
    color: black;
    border-radius: 100px;
    font-size: 20px;
    border: 1px solid white;
}
.buscador .boton_buscar {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 60px;
    border: 1px solid white;
    margin-right: 87px;
    width: 58px;
    height: 62px;
    background: black;
    line-height: 70px;
    border-radius: 87px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
}
.btn-carrito{
    color: white;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-size: 13px;
    background: #15C25C;
    padding: 10px 25px;
    border: 1px solid transparent;
    border-radius: 5px;
}
.btn-carrito:hover{
    background: #10A24C;
    cursor: pointer;
}
.buscar_header {
    color: white;
    font-size: 25px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48;
}
.fila {
    position: absolute;
    background: white;
    padding: 2px;
    border: 1px solid black;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
}
.buscador .boton_buscar:hover {
    width: 65px;
    height: 68px;
    line-height: 20px;
    font-size: 40px;
    font-weight: bold;
}
.nav_menu {
    padding: 0.5px;
    margin: 0.5px;
    color: black;
    width: 100%;
    margin-left: 0.5px;
    margin-right: 0.5px;
}
.nav_menu_lista {
    display: inline-block;
    list-style-type: none;
    margin-left: 60px;
    margin-right: 60px;
}
.btn_car, .btn_home, .btn_account, .btn_power, .btn_cake, .btn_otros, .btn_pizza {
    background-color: transparent;
    border: transparent;
    color: black;
    cursor: pointer;
}
.car_icon, .cuenta_icon, .home_icon, .power_icon, .cake_icon, .otros_icon, .pizza_icon {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-size: 30px;
    font-variation-settings:
        'FILL' 0,
        'wght' 300,
        'GRAD' 150,
        'opsz' 40;
}
.desc_icon {
    display: block;
    text-align: center;
}
.contenedor_main {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: black;
    font-family: Hind, sans-serif;
    margin-left: 70px;
    overflow: hidden;
    background-color: #AFB0B5;
}
.columna_main {
    width: 100%;
    margin-bottom: 20px; /* Espaciado entre los productos */
}
.contenedor_producto {
    display: flex;
    background: #F3F3ED;
    padding: 15px;
    border-radius: 10px;
}
.columna__ {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col1 {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-right: 50px;
    width: 50%;
}
.col1 img{
    width: 370px;
    height: 270px;
}
.col2 {
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
    padding-right: 2px;
}
.col2 .producto__ {
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 10px;
}
.col2 .precio__ {
    font-size: 17px;
    line-height: 1.5;
}
.col2 .vendedor__ {
    font-size: 17px;
    line-height: 1.5;
}
.col2 .disponibilidad__ {
    font-size: 17px;
    line-height: 1.5;
}
.opciones_imagen {
    display: flex;
}
.opciones_imagen button {
    padding-left: 80px;
    padding-right: 79.8px;
    border: 0.5px solid black;
    cursor: pointer;
}
.btn_agregar_carrito {
    margin-top: 50px;
    cursor: pointer;
    color: black;
    background-color: #0DD954;
    border: none;
    border-radius: 10px;
    padding: 10px 60px;
}
.btn_agregar_carrito:hover {
    background-color: #0DC54D;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Raleway, sans-serif;
    padding: 15px 15px;
}
@media (max-width: 1080px) {
    body {
        width: 100%;
    }
    .contenedor {
        display: block;
    }
    .titulo_material {
        padding-bottom: 5px;
        background-size: 100% 200%;
    }
    .titulo_comidas {
        padding-bottom: 5px;
        background-size: 100% 300%;
    }
    .titulo_otros {
        padding-bottom: 5px;
        background-size: 100% 200%;
    }
    .titulo_snacks {
        padding-bottom: 5px;
        background-size: 100% 200%;
    }
    .nombre_submenus {
        padding-bottom: 5px;
    }
    .contenedor .columna .slogan {
        padding-bottom: 5px;
        font-size: 25px;
    }
    .contenedor .buscador .busqueda {
        width: 580px;
        height: 70px;
        font-size: 30px;
    }
    .contenedor .buscador .boton_buscar {
        margin-right: 65px;
        width: 65px;
        height: 70px;
        line-height: 80px;
    }
    .fila {
        display: block;
    }
    .buscador .barra_busqueda {
        bottom: 200px;
    }
    .barra_busqueda {
        padding-bottom: 15px;
    }
    .buscador .boton_buscar {
        margin-top: 60px;
        right: 130px;
    }
    .submenus_header .fila .nav_menu .nav_menu_lista .material-symbols-outlined {
        font-size: 50px;
    }
    .submenus_header .fila .nav_menu .nav_menu_lista .desc_icon {
        font-size: 25px;
    }
    .nav_menu_lista {
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn_car, .btn_cake, .btn_home, .btn_pizza, .btn_otros, .btn_power, .btn_account {
        font-size: 15px;
    }
    .car_icon, .pizza_icon, .power_icon, .cuenta_icon, .cake_icon, .otros_icon {
        font-size: 30px; /* Aún no sirve pero es para aumentar el tamaño de los íconos */
    }
}
