<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Upii-Market/Iniciar Sesion</title>
            <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
            <meta http-equiv="Pragma" content="no-cache">
            <meta http-equiv="Expires" content="0">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='desing_Usuarios.css') }}">
        </head>
    <body>
        <header>
            <button id="botonRegresar" class="regresar">Regresar</button>
        </header>
        <br>
        <main>
            <div class="contenedor">   
                <form action="/iniciar_sesion" class="formulario" id="formulario" method="POST">
                <h1 class="titulo_form">Iniciar Sesión</h1>

                <div class="formulario_grupo" id="grupo_email">
                    <label for="email" class="formulario_label">Email</label>
                    <div class="formulario_grupo-input">    
                                <input class="formulario_input" id="email" name='email' type="email" placeholder="correo electrónico" required>
                                <i class="formulario_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_input-error">Dirección de correo no valido</p>
                        </div> 
                        
                        <div class="formulario_grupo" id="grupo_password">
                            <label for="password" class="formulario_label">Contraseña</label>
                            <div class="formulario_grupo-input">    
                                <input class="formulario_input" id="password" name='password' type="password" placeholder="contraseña" required>
                                <i class="formulario_validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario_input-error">Contraseña no valida</p>
                        </div> 

                        <div class="formulario_grupo formulario_grupo-btn-reestablecer_contraseña">
                                <button type="button" class="reset-password">Olvidé mi contraseña</button>
                        </div>

                        <div class="formulario_grupo formulario_grupo-btn-enviar">
                            <button type="submit" id="BotonSesion" class="BotonSesion">Iniciar sesión</button>
                            <p class="formulario_mensaje_exito" id="formulario_mensaje_exito">Formulario enviado exitosamente!</p>
                        </div>
                    </form>
                </div>
            </main>
            <script src="{{ url_for('static', filename='diseño_java.js') }}"></script>
        <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    </body>
</html>